.deal_update--form {
    /* width: 1200px; */
    width: 960px;
    margin: 50px auto;
}

.deal_update--content {
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.update_form.list h3 {font-size: 32px;}

.update_form.list li {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dddddd;
}

.update_form__list.title {
    flex-basis: 20%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dddddd;
    font-size: 14px;
    font-weight: bold;
}

.update_form__list.content {
    margin: 10px 0 10px 20px;
    font-size: 14px;
}

.update_form__list.content input {
    display: none;
}

.update_form__list.content input {
    display: inline-block;
    border: 1px border;
}

body a.base_btn {
	margin-top : 5px;
	margin-bottom : 10px;
    height: 30px;
    min-width: 100px;
    line-height: 30px;
    background: #dddddd;
    font-size: 5px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "맑은 고딕","Malgun Gothic";
    border-radius: 7px;
    float : right;
}