/*--------------------------------------------------------*/
.Main {
    margin-top: 50px;
    min-height: 300px;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid #d2d2d2;
}

.chargePageBox {
    /*float: left;*/
    display: inline;
    width: 100%;
    padding: 20px;
    background: no-repeat 643px 19px;
}

.charge_intro {
    margin: 0 0 25px 3px;
}

.charge_intro h4 {
    font-weight: bold;
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
}

.charge_intro p {
    font-size: 11px;
    color: #555;
    line-height: 150%;
}

.charge_intro p .bold {
    font-weight: bold;
    color: #c00;
}


.chargePageBox .menuBar {
    width: 266px;
    float: left;
    display: inline;
    overflow: hidden;
    background: repeat-x left bottom;
    margin-bottom: 10px;
}

.chargePageBox .menuBar li {
    float: left;
    display: inline;
}

.chargePageBox .menuBar button {
    float: left;
    display: inline;
    padding-top: 9px;
    height: 39px;
    width: 133px;
    text-align: center;
    color: #666;
    background: #ffd149;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(225, 217, 90, 0.16);
    border-bottom: 1px solid #c00;
    border-left: none;
}

.chargePageBox .menuBar .on {
    border-left: 1px solid rgba(225, 217, 90, 0.16);
}

.chargePageBox .menuBar button.Tab_menu1 {
    color: #c00;
    border: 1px solid #c00;
    border-bottom: 1px solid #fff;
    background: none;
    background: #F9A825;
}

.chargePageBox .menuBar button.Tab_menu2 {
    color: #c00;
    border: 1px solid #c00;
    border-bottom: 1px solid #fff;
    background: none;
    background: #F9A825;
}

.XenoTabLayer .on {
	display:block;
}

.chargePageBox .menuBar .noborder {
    border-right: none;
}

.chargePageBox {
    border-right: none;
}


.chargePageBox{
    width: 1200px;
    border-top: solid 1px rgba(225, 217, 90, 0.16);
    border-collapse: collapse;
    font-size: 11px;
}

.tbl_money {
    width: 100%;
    min-height: 111.3px;
    border-top: solid 1px rgba(225, 217, 90, 0.16);
    border-collapse: collapse;
    font-size: 11px;
}


.tbl_money th {
    background: #f0f0f0;
    text-align: center;
    color: #666;
    border-bottom: solid 1px rgba(225, 217, 90, 0.16);
    font-weight: normal;
}

.tbl_money td {
    border-bottom: solid 1px #e0e0e0;
    color: #666;
    padding: 8px 0 8px 10px;
    vertical-align: middle;
    height: 19px;
}

.chargePageBox th {
    background: rgba(225, 217, 90, 0.16);
    text-align: center;
    color: #666;
    border-bottom: solid 1px #e0e0e0;
    font-weight: normal;
}

.chargePageBox td {
    border-bottom: solid 1px #e0e0e0;
    color: #666;
    padding: 8px 0 8px 10px;
    vertical-align: middle;
    height: 19px;
    width: 600px;
}

.chargePageBox .tbl_money .won img {
    float: none;
    margin-top: 0px;
    vertical-align: top;
    margin-left: 1px;
}
/*
.chargePageBox .tbl_money input.text {
    border: 1px solid #ccc;
    padding: 1px 5px;
    width: 140px;
    height: 15px;
}*/

input.text1 {
    border-bottom: 1px solid #ccc;
    padding: 1px 5px;
    width: 170px;
    height: 15px;
}

.text2 {
    border-bottom: 1px solid #ccc;
    padding: 1px 5px;
    width: 270px;
    height: 15px;
}

.text3 {
    border-bottom: 1px solid #ccc;
    padding: 1px 5px;
    width: 270px;
    height: 15px;
}

.chargePageBox .tbl_money label {
    vertical-align: middle;
    margin-right: 10px;
}

.chargePageBox .tbl_money .checkbox,
.chargePageBox .tbl_money .radio {
    margin: 0 2px 3px 0;
}

.chargePageBox .tbl_money select {
    border: 1px solid #7f9db9;
}

.chargePageBox .submit {
    width: 100%;
    margin: 10px 0 10px;
    text-align: center;
}

.XenoTabLayer {
	display:none;
}
.XenoTabLayer.on {
	display:block;
}
#charge_1,
#charge_2 {
    clear: both;
    border: px solid #ccc;
}

#charge, #back {
   display: none;
}
.menuControl:checked + label {
    display: inline;
}
input[id="charge"]:checked ~ #charge_1 {display: block;}
input[id="back"]:checked ~ #charge_2 {display: block;}


.paylist {
    background-color: rgba(230, 115, 17, 0.8);
    box-sizing: border-box;
    border-radius: 2px;
    color: #ffffff;
    width: 12%;
    padding: 3px 0;
}

.paylist:hover {
    background-color: rgb(245, 114, 114);
    color: #ffffff;
    cursor: pointer;
}


/*--------------------------------------------------------*/


/* desktop-size(min:1280) */
/* -- 프리미엄관 */

/* desktop-size(min:1280) */
/* -- 경매 규칙 및 회원 등급 제도 설명 */
/*
.rules {
    width: 100%;
    height: 400px;
    background-color: gainsboro;
}
*/
