<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace="com.spring.mapper.SungjukMapper는 SungjukMapper인터페이스(SungjukMapper.class)의 이름을 사용한다. -->
	<!-- root-context에서 아래와 같이 typeAliasesPackage를 설정하면 패키지 경로 생략 가능. -->
<mapper namespace="com.spring.mapper.DetailMapper">
	<select id="getBoardList" resultType="ProductVO">
		select * from product
	</select>
	
	<select id="getDetail" parameterType="int" resultType="ProductVO">
		select * from product where product_number=#{product_number}
	</select>
	
	<update	id="updateBoard" parameterType="ProductVO">
		update product set product_current_price=#{price} where product_number=#{bid_product_number}
	</update>
	
	<select id="selectNowPrice" parameterType="int" resultType="int">
		select nvl(product_starting_price,0) from product where product_number=#{bid_product_number}
	</select>
	
	<select id="selectPurchasePrice" parameterType="int" resultType="int">
		select nvl(product_purchase_price,0) from product where product_number=#{bid_product_number}
	</select>
</mapper>