<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.ProductMapper">

	<insert id="productInsert" parameterType="ProductVO">
		<selectKey keyProperty="product_number" resultType="ProductVO" order="BEFORE">
			select nvl(max(product_number), 0) + 1 as product_number from product
		</selectKey>
		insert into product
		values(
			#{product_number}, <!-- 상품번호 -->
			#{product_id}, <!-- 아이디 -->
			#{product_category_1}, <!-- 카테고리 1차 -->
			#{product_category_2}, <!-- 카테고리 2차 -->
			#{product_subject}, <!-- 상품제목 -->
			#{product_content}, <!-- 상품내용 -->
			#{product_img_1}, <!-- 이미지(썸네일)_1 -->
			#{product_img_2, jdbcType=VARCHAR}, <!-- 이미지(썸네일)_2 -->
			#{product_img_3, jdbcType=VARCHAR}, <!-- 이미지(썸네일)_3 -->
			#{product_img_4, jdbcType=VARCHAR}, <!-- 이미지(썸네일)_4 -->
			#{product_img_5, jdbcType=VARCHAR}, <!-- 이미지(썸네일)_5 -->
			#{product_starting_price},  <!-- 경매시작가 -->
			#{product_bidding_unit}, <!-- 입찰단위 -->
			to_date(#{product_end_date}, 'yyyy-mm-dd hh24:mi'), <!-- 경매종료일 -->
			#{product_delivery}, <!-- 택배거래(비용) -->
			#{product_transaction_area}, <!-- 거래가능지역 -->
			#{product_purchase_price}, <!-- 즉시구매가격 -->
			#{product_re_auction}, <!-- 재경매 -->
			#{product_starting_price}, <!-- 경매현재가 -->
			0, <!-- 입찰수 -->
			0, <!-- 참가자수 -->
			0, <!-- 신용도 -->
			0, <!-- 조회수 -->
			sysdate, <!-- 등록일 -->
			0 <!-- 진행상태 -->
		)
	</insert>
	
	<select id="searchForDeadline" resultType="ProductVO">
		select
			product_number, <!-- 상품번호 -->
			product_starting_price,  <!-- 경매시작가 -->
			product_starting_price, <!-- 경매현재가 -->
			to_char(product_end_date, 'yyyy-mm-dd hh24:mi') as product_end_date, <!-- 경매종료일 -->
			product_re_auction, <!-- 재경매 -->
			to_char(product_issue_date, 'yyyy-mm-dd hh24:mi') as product_issue_date <!-- 등록일 -->
		from product
		where
		<![CDATA[
			product_end_date < sysdate and
    		product_progress = 0
   		]]>
	</select>
	
	<select id="changePoductProgressToEnd" parameterType="int">
		update product
		set product_progress = 1
		where product_number = #{product_number}
	</select>
	

	
	<!-- test -->
	<select id="productSelectTest" resultType="ProductVO">
		select
			product_number, <!-- 상품번호 -->
			product_id, <!-- 아이디 -->
			product_category_1, <!-- 카테고리 1차 -->
			product_category_2, <!-- 카테고리 2차 -->
			product_subject, <!-- 상품제목 -->
			product_content, <!-- 상품내용 -->
			product_img_1, <!-- 이미지(썸네일)_1 -->
			product_img_2, <!-- 이미지(썸네일)_2 -->
			product_img_3, <!-- 이미지(썸네일)_3 -->
			product_img_4, <!-- 이미지(썸네일)_4 -->
			product_img_5, <!-- 이미지(썸네일)_5 -->
			product_starting_price,  <!-- 경매시작가 -->
			product_bidding_unit, <!-- 입찰단위 -->
			to_char(product_end_date, 'yyyy-mm-dd hh24:mi') as product_end_date, <!-- 경매종료일 -->
			product_delivery, <!-- 택배거래(비용) -->
			product_transaction_area, <!-- 거래가능지역 -->
			product_purchase_price, <!-- 즉시구매가격 -->
			product_re_auction, <!-- 재경매 -->
			product_starting_price, <!-- 경매현재가 -->
			product_bids, <!-- 입찰수 -->
			product_participants, <!-- 참가자수 -->
			product_credit_score, <!-- 신용도 -->
			product_views, <!-- 조회수 -->
			to_char(product_issue_date, 'yyyy-mm-dd hh24:mi') as product_issue_date, <!-- 등록일 -->
			product_progress <!-- 진행상태 -->
		from product
		where product_number = 1
	</select>
	
</mapper>