<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.WishListMapper">
	<!-- 해당 아이디의 위시리스트 갯수를 가져온다 -->
	<select id="getWishListCount" parameterType="String" resultType="int">
		select count(*)
    	from wish_list
    	where wish_id = #{userId}
	</select>
	
	<!-- 위시리스트를 삭제한다  -->
	<delete id="deleteWishList" parameterType="hashmap">
		delete from wish_list
		where wish_product_number in (
		<foreach collection="deleteWishList" item="item" separator=",">
			#{item}
		</foreach>
		) and wish_id = #{userId}
	</delete>
	
</mapper>